<script type="text/javascript" src="/skrollr.min.js"></script>

<script type="text/javascript">
  skrollr.init({
    smoothScrolling: false,
    mobileDeceleration: 0.004
  });
</script>

<script src="jQuery.fontFlex.js"></script>

<!-- <script src="data-img.min.js"></script> -->

// <script>
// $('.data-img').dataImg({
//   sml: 100,
//   med: 200,
//   lrg: 300,
//   resize: true
// });
// </script>

<script src="imgLiquid.min.js"></script>

  <script>
  $(document).ready(function() {
    $(".imgLiquidFill").imgLiquid({
      fill: true,
      horizontalAlign: "center",
    });
  });
  </script>

</body>
</html>