<% include partials/header %>

<div class="banner">
  <div class="container">
    <img src="images/cmj.png" class="logo" alt="">
    <h4 class="header_font">
    Calvin  M.  Jhunjhnuwala<br><br>
    @calvinjhun
    </h4>
  </div>
</div>

<div id="skrollr-body">
  <div data-0="background-color:rgb(0,0,255);" data-100="background-color:rgb(10,10,10);" class="skrollable skrollable-between" style="background-color:rgb(0,0,255);">WOOOT</div>
</div>

<div class="container">
  <div class="row body_paragraph">
    <h1 class="title">About Me </h1>
    <h3>
      Born in Hong Kong &amp; Southern-California raised, a self-diagnosed music-addict, book-lover,  &amp; creative soul with an eye for ideas and a mind for design. <br>

      I have over 3 years of experience in media, marketing, and online advertising. I recently graduated from General Assembly after taking their Wed Development Immersice. My goal is to design and build awesome websites and apps.<br>

      <!-- MAKE THIS A SMALL SIDE NOTE (*) TYPE -->
      <!-- As a die-hard Sacramento Kings fan, I take the liberty of recognizing these traits within me: patient, loyal, and gritty.</h3> -->

    <h1>Allow me to (re)introduce myself... </h1>
      <h3>Learning to code, one character at a time.</h3>

    <h1>My Projects</h1>

      <div class="col-md-3">
        <h2>Oneironaut</h2>
          <h3>For those interested in exploring the dream world, Oneironaut was an idea I had because I was upset with the quality of the current dream websites of today. With over __ active users, I plan on expanding, promoting, and utilizing my marketing skills to reach even more users.
          </h3>
      </div>

      <div class="col-md-3">
        <h2>Vex-on</h2>
          <h3>
          Another website I created because of the poor quality of current flag websites, I decided to make this website look beautiful as well as accessible to anybody wanting to learn about flags, their history, or just admire the colors and design of flags from around the world.
          </h3>
      </div>

      <div class="col-md-3">
        <h2>Moonwalk</h2>
          <h3>
          Moonwalk was built with the idea that we could use the data of Craigslist to provide raw data and information regarding the rental averages in major cities as well as figure out if buying a property for rental purposes was worth it. <br>
          I was primarily in charge of web scraping so, I used Nokogiri to scrape Craiglist data, found the average rent based on the number of bedrooms, and relayed that information to the website.
          </h3>
      </div>

      <div class="col-md-3">
        <h2>Kaizen</h2>
          <h3>
          Tired of not knowing where to find your art? Want to get a tattoo, but unsure of where to start looking? Do you wish you could sell your services face-to-face. Well, telegram is here to
          </h3>
      </div>

      <div class="col-md-12">
        <h1>Contact Me</h1>
          <h3>
          <!-- Attached a resume download -->
          email me at: cjhunjhnuwala@gmail.com
          follow my music discoveries on: Okayfuture.com
          connect with me on linkedin: URL
          </h3>
      </div>
    </div>
</div>

<% include partials/header %>
