<div class="col-md-3 col-sm-6">
        <h2>Oneironaut</h2>
          <h3>For those interested in exploring the dream world, Oneironaut was an idea I had because I was upset with the quality of the current dream websites of today. With over __ active users, I plan on expanding, promoting, and utilizing my marketing skills to reach even more users.
          </h3>
      </div>

      <div class="col-md-3 col-sm-6">
        <h2>Vex-on</h2>
          <h3>
          Another website I created because of the poor quality of current flag websites, I decided to make this website look beautiful as well as accessible to anybody wanting to learn about flags, their history, or just admire the colors and design of flags from around the world.
          </h3>
      </div>  
    
      <div class="col-md-3 col-sm-6">
        <h2>Moonwalk</h2>  
          <h3>
          Moonwalk was built with the idea that we could use the data of Craigslist to provide raw data and information regarding the rental averages in major cities as well as figure out if buying a property for rental purposes was worth it. <br>
          I was primarily in charge of web scraping so, I used Nokogiri to scrape Craiglist data, found the average rent based on the number of bedrooms, and relayed that information to the website.
          </h3>
      </div>

      <div class="col-md-3 col-sm-6">
        <h2>Kaizen</h2>  
          <h3>
          Tired of not knowing where to find your art? Want to get a tattoo, but unsure of where to start looking? Do you wish you could sell your services face-to-face. Well, telegram is here to 
          </h3>
      </div>